html {
  background-image: linear-gradient(
    to top right,
    rgb(0, 255, 170),
    rgb(0, 255, 64),
    yellow
  );
}
#title {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 3%;
  background-color: hotpink;
  border-radius: 80%;
  color: silver;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: 1 / 1 / 6 / 6;
  position: relative;
  margin: 10%;
  height: 75vh;
}
.sidebar {
  background-color: #fba922;
  grid-area: 1 / 1 / 6 / 3;
}
.reviews {
  background-color: #3971ed;
  grid-area: 1 / 3 / 3 / 4;
}
.rating {
  background-color: #198844;
  grid-area: 1 / 4 / 3 / 5;
}
.analysis {
  background-color: #cc342b;
  grid-area: 1 / 5 / 3 / 6;
}
.visitors {
  background-color: #a36ac7;
  grid-area: 3 / 3 / 6 / 6;
}
.visDeats {
  display: flex;
  justify-content: center;
  background-color: yellow;
  background: linear-gradient(180deg, yellow, aqua);
  margin: 10%;
  height: 50%;
  box-shadow: 0px 2px 20px rgba(0, 0, 255, 255);
}
.visDeats:hover #hidden {
  opacity: 100%;
}
#hidden {
  opacity: 0%;
  background: linear-gradient(90deg, rgb(253, 94, 94), rgb(255, 0, 217));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 32px;
}
ul {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
li {
  display: flex;
  justify-content: center;
  margin-right: 10%;
}
h2 {
  /* text-align: center; */
  margin-top: 0%;
  background: linear-gradient(90deg, yellow, rgb(0, 195, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  box-shadow: 0px 5px 20px rgba(255, 100, 0, 255);
}
h3 {
  background: linear-gradient(
    90deg,
    rgb(253, 94, 94),
    rgb(0, 195, 255),
    yellow,
    rgb(0, 195, 255),
    rgb(253, 94, 94)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 10);
  border-radius: 12%;
  max-width: max-content;
}
