.sidebar {
  background-color: #fba922;
}
.reviews {
  background-color: #3971ed;
}
.rating {
  background-color: #198844;
}
.analysis {
  background-color: #cc342b;
}
.visitors {
  background-color: #a36ac7;
}
